/* Apply landscape styles */
@media (orientation: landscape) {
    .game-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: row;
    }

    .rotate-message {
        display: none;
      }


  }
  
  /* Apply fallback for portrait mode */
  @media (orientation: portrait) {
    .game-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      /* Optional message to ask users to rotate their device */
    }

    .landscape-mode {
        display: none;
      }

    .rotate-message {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        font-size: 18px;
        text-align: center;
      }
  }
  